{
    "socket_timeout": 20,
    "host": "172.17.0.1",
    "port": 53,
    "dns": [
      {
        "match": ["hackery.google.com"],
        "resolve_to": "172.0.0.1"
      },
      {
        "match": ["notreallyinternal.internal.com"],
        "host": "8.8.8.8",
        "port": 53,
        "udp": true
      },
      {
        "match": ["*internal.com"],
        "host": "1.1.1.1",
        "port": 53,
        "udp": false
      },
      {
        "match": "*",
        "host": "8.8.8.8",
        "port": 53,
        "udp": true
      }
    ]
}
